<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= eval( require( 'ejs-render-loader!./html/header.ejs') )() %>
        <title>typescript-vue-webpack-example</title>
    </head>
    <body>
        <div id="app">popup.html</div>
    </body>
</html>
